In [122]:
import pandas as pd
filename = 'c:\\data\\bankdebt.csv'
data = pd.read_csv(filename, index_col = 0, header = None)
data

      1         2     3    4
0
1   Yes    Single  12.5   No
2    No   Married  10.0   No
3    No    Single   7.0   No
4   Yes   Married  12.0   No
5    No  Divorced   9.5  Yes
6    No   Married   6.0   No
7   Yes  Divorced  22.0   No
8    No    Single   8.5  Yes
9    No   Married   7.5   No
10   No    Single   9.0  Yes
11   No    Single   5.5  Yes
12  Yes   Married   8.0   No
13  Yes  Divorced  11.0   No
14   No    Single   9.5   No
15   No  Divorced   6.7  Yes

In [123]:
data = pd.read_csv(filename, index_col = 0, header = None)
data.loc[data[1] == 'Yes',1 ] = 1
data.loc[data[1] == 'No',1 ] = 0
data.loc[data[4] == 'Yes',4 ] = 1
data.loc[data[4] == 'No',4 ] = 0
data.loc[data[2] == 'Single',2 ] = 1
data.loc[data[2] == 'Married',2 ] = 2
data.loc[data[2] == 'Divorced',2] = 3
data.loc[1:5,:]

   1  2     3  4
0
1  1  1  12.5  0
2  0  2  10.0  0
3  0  1   7.0  0
4  1  2  12.0  0
5  0  3   9.5  1

In [137]:
X = data.loc[ :, 1:3].values.astype(float)
y = data.loc[ :, 4].values.astype(int)

In [138]:
from sklearn import tree
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X, y)
clf.score(X,y)

1.0

In [139]:
predicted_y = clf.predict(X)
from sklearn import metrics
print(metrics.classification_report(y, predicted_y))
print('Confusion matrix:' )
print( metrics.confusion_matrix(y, predicted_y) )

             precision    recall  f1-score   support

          0       1.00      1.00      1.00        10
          1       1.00      1.00      1.00         5

avg / total       1.00      1.00      1.00        15

Confusion matrix:
[[10  0]
 [ 0  5]]

In [140]:
from sklearn import model_selection
X_train, X_test, y_train, y_test = model_selection.train_test_split(X, y, test_size=0.3, random_state=1)

In [141]:
from sklearn import tree
clf1 = tree.DecisionTreeClassifier()
clf1 = clf1.fit(X_train, y_train)
clf1.score(X_train,y_train)

1.0

In [142]:
predicted_y = clf.predict(X_test)
from sklearn import metrics
print(metrics.classification_report(y_test, predicted_y))
print('Confusion matrix:' )
print( metrics.confusion_matrix(y_test, predicted_y) )

             precision    recall  f1-score   support

          0       1.00      1.00      1.00         3
          1       1.00      1.00      1.00         2

avg / total       1.00      1.00      1.00         5

Confusion matrix:
[[3 0]
 [0 2]]

In [143]:
from sklearn.externals import joblib
joblib.dump(clf, 'clf.pkl')

['clf.pkl']

In [144]:
import numpy as np
load_clf = joblib.load('clf.pkl')  
new_X1= np.array([[1,2,7]])
print("贷款方情况：",new_X1)
print("能否偿还：",load_clf.predict(new_X1) )

贷款方情况： [[1 2 7]]
能否偿还： [0]